fastapi
uvicorn[standard]
python-multipart
pdfminer.six
python-docx
Pillow
groq
python-dotenv
pytest
httpx
reportlab

# Auth and database
supabase
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
email-validator
bcrypt==4.0.1
google-auth==2.23.0
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
