fastapi
uvicorn[standard]
python-multipart
pdfminer.six
python-docx
Pillow
groq
python-dotenv
pytest
httpx

# Auth and database
supabase
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
